@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@500&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.cover-book{
    height: 14rem;
    border-radius: 10px;
}

.title-book{
    color: #40A2E3;
}

.reading{
    display: flex;
    margin-top: 7vw;
}

.btn-reading{
    background-color: #40A2E3;
    color: #fff;
    text-decoration: none;
    border: 2px solid #40A2E3;
    border-radius: 20px;
    transition: 0.5s;
   
}

.btn-reading:hover{
    background-color: transparent;
    color: #40A2E3;
    border: 2px solid #40A2E3;
}

.btn-bookmark{
    background-color: #3F3D56;
    color: #fff;
    text-decoration: none;
    border: 2px solid #3F3D56;
    border-radius: 20px;
    transition: 0.5s;
   
}

.btn-bookmark:hover{
    background-color: transparent;
    color: #3F3D56;
    border: 2px solid #3F3D56;
}

.line{
    border-color: #3F3D56 !important;
}

.sinopsis-title{
    color: #40A2E3;
}

.text{
    margin-left: 10vw !important;
}

.search-input{
    border: 1px solid #40A2E3;
    border-right: 0;
}

.komentar-button{
    border: 1px solid #40A2E3;
    background-color: #40A2E3;
    color: #fff;
    transition: 0.5s;
}

.komentar-button:hover{
    border: 1px solid #40A2E3;
    background-color: transparent;
    color: #40A2E3;
}