@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Josefin+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@500&display=swap');

body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.navbar{
    background-color: #40A2E3;
}

.nav-link{
    text-decoration: none;
}

.btn-logout{
    background-color: #FFF6E9 !important;
    color:#40A2E3 !important;
    font-weight: 700 !important;
    font-family: "Poppins", sans-serif !important;
    border-radius: 20px !important;
    border: 2px solid #40A2E3;
}

.btn-logout:hover{
    background-color: transparent !important;
    color:#FFF6E9 !important;
    border-radius: 20px !important;
    border: 2px solid #FFF6E9 !important;
    transition: 0.5s;
}

footer{
    background-color: #40A2E3;
}

.line-footer{
    background-color: #FFF6E9 !important;
    border-radius: 10px;
}

.text-footer{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFF6E9;
    text-decoration: none;
}

.text-footer:hover{
    text-decoration: underline;
    transition: 0.2s;
}
